twitter:
  primary_credentials:
    use_v2_api: 0
    consumer_key: 
    consumer_secret: 
    access_token: 
    access_token_secret: 
#  secondary_credentials:
#    consumer_key: 
#    consumer_secret: 
#    access_token: 
#    access_token_secret: 

outdir: media

mediators:
- 

lists:
- 

discord_webhook_url: 
